* {
	margin: 0;
	padding: 0;
	}

body {
	background: #0099FF;
    padding-bottom: 2em;
	text-align: center;
	}

p {
	margin-bottom: 1em;
	}

h1 {
	border: 3px solid;
	background: linear-gradient(to bottom, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
	font-family: "Arial Black", Gadget, sans-serif;
	}

#professor h2 {
	font-style: italic;
	font-size: 1em;
	padding-bottom: 1em;
	}

#wrapper {
	width: 700px;
	margin: 0 auto;
	}

#profimage {
	margin-left: 20px;
	margin-right: 20px;
	filter: grayscale(100%);
	border-radius: 50%;
	}

#profimage img {
	border-radius: 50%;
	padding: 16px;
	}

#content {
	font-family: "Comic Sans MS", cursive, sans-serif;
	padding: 0px 48px 16px;
	border-style: solid;
	border-radius: 4em;
	background: #CCFFFF;
	}

#navContainer {
	text-align: center;
	padding: 1em 3em 0em;
	}

#navigation ul {
	padding: 0 0 5px;
	}

#navigation li {
	display: inline;
	}

#navigation a:link, #navigation a:visited {
	text-decoration: none;
	color: black;
	background: #6688DD;
	padding: 5px 10px 6px;
	position: relative;
	margin-right: 5px;
	border: 2px solid black;
	border-bottom: 0px;
	font-family: Arial, Helvetica, sans-serif;
	}

#navigation a:visited {
	color: #222222;
	}

#navigation a:hover {
	text-decoration: underline;
	background: #cccccc;
	}

#homePage #homePageLink a:link, #homePage #homePageLink a:visited, #Class1Page #Class1PageLink a:link, #Class1Page #Class1PageLink a:visited, #Class2Page #Class2PageLink a:link, #Class2Page #Class2PageLink a:visited {
	background: #CCFFFF;
	padding-bottom: 8px;
	}

#information div {
	padding-bottom: 1.5em;
	padding-top: .5em;
	}

#classinfo {
	padding: 5em;
}

li {
    margin-left: 20px;
   }

ul {
	text-align: left;
	}
