.nav td{
	border: 2px solid black;
	text-align: center;
	padding: 4px;
	min-width: 100px;
}
.nav-horiz h4 {
	margin-top: 0px;
	margin-bottom: 0px;
}
#dogs-col {
	float: left;
}
#cats-col {
	float: right;
}
.content {
	max-width: 50em;
	margin: 0 auto;
	text-align: center;
	font-family: 'Cabin', sans-serif;
}
img {
	height: 313px;
}
.col {
	display: inline-block;
	vertical-align: top;
}
.nav-title {
	min-width: 110px;
}
.nav-title i {
	font-size: 24px;
	margin: 16px;
}
body {
	background: linear-gradient(to right, #9CE7E8 0%, #C0FFE5 100%);
}
.footer {
	clear: both;
	font-style: italic;
}
.nav-horiz {
	margin-bottom: 12px;
}
.page-top {
	text-align: left;
	display: flex;
}
.page-title {
	max-width: 512px;
	text-align: center;
}
.article {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
}
.quiz-question {
	margin-left: 1em;
	margin-bottom: 1em;
	border: 2px dashed black;
	padding: 1em;
}
.quiz-question h3 {
	margin-top: 0px;
}
.gallery {
	text-align: center;
}
.article blockquote {
	font-style: italic;
}
